.chrome-button {
    display: block;
    font-size: 2.4rem;
    border-radius: 1rem;
    text-align: center;
    line-height: 2;
}

/* disable selection */
.chrome-button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
